# ============== ENVIRONMENT ==============
.envinitialized

# ============== TOOLS / IDE ==============
.claude
.vscode

# ============== PDK ==============
.pdk

# ============== BUILD OUTPUTS ==============
/runs

# ============== SIMULATION ==============
/test/sim_build
/test/testmodules/results*.xml
*.fst

# ============== PYTHON ==============
__pycache__
